# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=hypr-adaptive

# Make this the same as your github username/organisation
REPO_ORGANIZATION="maxye4655"

IMAGE_DESC="hypr-adaptive: Hyprland desktop mode for the ROG Ally X on Bazzite"
IMAGE_KEYWORDS="bazzite,hyprland,handheld,rog-ally,gaming"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/120078124?s=200&v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
